body {
    overflow: hidden;
    background-color: white;
}

.container {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 16px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

div.fixed {
    position: fixed;
    width: 500px;
    bottom: 0;
    right: 0;
} 

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form-container {
    padding: 10px;
    border: 1px solid black;
} 

.home-menu {
    top: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
}

.field {
    margin-bottom: 12px;
    padding: 5px;
}


.radio-field {
    display: flex;
    flex-direction: row;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.button-container-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.btn {
    margin: 8px;
}

.table-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

h1{
    font-family: "Helvetica";
}

h1#home{
    font-size: 35px;
}

p#deskripsi, p#welcome{
    font-size: 22px;
    font-family: serif;
}

button {
    background-color: rgb(6, 63, 8);
    border: none;
    color: white;
    padding: 10px 15px;
    margin: 10px;
    text-align: center;
}

input {
    padding: 5px;
    margin: 5px;
}