<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<script th:replace="fragments/_sidebar :: sidebar"> </script>
<link rel="stylesheet" th:href="@{style.css}">

<style>
    .container {
        margin-left: 200px; /* Same as the width of the sidenav */
        font-size: 16px; /* Increased text to enable scrolling */
        padding: 0px 10px;
    }
    div.fixed {
        position: fixed;
        width: 500px;
        bottom: 0;
        right: 0;
} 

</style>

</head>
<body>
    <div th:insert="fragments/_sidebar :: sidebar2"></div>

    <div class="container">

        <h1>Add Stock Obat</h1>
        <p>Masukkan rincian obat yang akan ditambahkan</p> 

        <div class="form-container">
            <form  th:action="@{/add-stock}" th:object="${input}" method="post">
                <table>
                        <tr class="field"><td>Nama obat </td><td>:<input type="text" th:field="*{nama}" th:required="true"/></td></tr>
                    <tr class="field">
                        <td>Tipe obat </td>
                        <td>:
                            <input type="radio" th:field="*{tipe}" value="Obat Bebas" th:required="true"/> <label >Obat Bebas</label>
                            <input type="radio" th:field="*{tipe}" value="Obat Bebas Terbatas" th:required="true"/> <label >Obat Bebas Terbatas</label>
                            <input type="radio" th:field="*{tipe}" value="Obat Keras" th:required="true"/> <label >Obat Keras</label>
                            <input type="radio" th:field="*{tipe}" value="Obat Psikotropika" th:required="true"/> <label >Obat Psikotropika</label>
                            <input type="radio" th:field="*{tipe}" value="Obat Narkotika" th:required="true"/> <label >Obat Narkotika</label>
                        </td>
                    </tr>
                    <tr class="field"><td>Jumlah obat </td><td>:<input type="text" th:field="*{jumlah}" th:required="true"/></td></tr>
                    <tr class="field"><td>Tanggal kadaluarsa (DD-MM-YYY) </td><td>:<input type="text" th:field="*{kadaluarsa}" th:required="true"/></td></tr>
                    <tr class="field"><td>Kegunaan </td><td>:<input type="text" th:field="*{kegunaan}" th:required="true"/></td></tr>
                    <tr class="button-container">
                        <td><input type="submit" value="Submit" /></td>
                    </tr>
                </table>
            </form>
        </div>

    
    </div>

</body>
</html>