<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<script th:replace="fragments/_sidebar :: sidebar"> </script>
<style>
    .container {
        margin-left: 200px; /* Same as the width of the sidenav */
        font-size: 28px; /* Increased text to enable scrolling */
        padding: 0px 10px;
    }
    div.fixed {
        position: fixed;
        width: 500px;
        bottom: 0;
        right: 0;
    } 
</style>

</head>
<body>
    <div th:insert="fragments/_sidebar :: sidebar2"></div>

    <div class="container">

        <h1>Add Stock Obat</h1>
        <p>Masukkan rincian obat yang akan ditambahkan</p> 

        <div class="form-container">
            <p th:text="' Obat ' + ${input.nama} +' berhasil ditambahkan'"></p>
        </div>

    </div>
    <div class="fixed"> <img th:src="@{/img/5562.jpg}" width="500" height="250">
    </div>
</body>
</html>