<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<script th:replace="fragments/_sidebar :: sidebar"> </script>
<style>
    .container {
    margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
    }
    div.fixed {
  position: fixed;
  width: 500px;
  bottom: 0;
  right: 0;
} 
    table {
        border: 1px solid rgba(237, 217, 248, 0.658);
        border-radius: 8px;
        border-spacing: 0;
        width: 50%;
    }
    tr:first-child th:first-child { border-top-left-radius: 8px;}
    tr:first-child th:last-child { border-top-right-radius: 8px; }
    tr:last-child td:first-child { border-bottom-left-radius: 8px; }
    tr:last-child td:last-child { border-bottom-right-radius: 8px; }
                
    tr:first-child th {background-color: #87bdd8}
    th, td {
        text-align: center;
        padding: 6px;
    }
                
    tr:nth-child(odd) {
        background-color: #cfe0e8;
        }
                
    tr:nth-child(even) {
        background-color: rgba(255, 255, 255, 0.644);
    }
</style>

</head>
<body>
    <div th:insert="fragments/_sidebar :: sidebar2"></div>

    <div class="container">
        <table>
            <thead>
                <tr>
                <th>Nama</th>
                <th>Tipe</th>
                <th>Kegunaan</th>
                <th>Jumlah</th>
                <th>Kadaluarsa</th>
                </tr>
            </thead>
            <tbody>
                <!-- iterasi daftar obat untuk ditampilkan dalam tabel -->
                <tr th:if="${obat} != null" th:object=${obat}>
                    <td><span th:text="${obat.nama}"></span></td>
                    <td><span th:text="${obat.tipe}"></span></td>
                    <td><span th:text="${obat.kegunaan}"></span></td>
                    <td><span th:each="ob : ${obat.listKadaluarsa}" th:text="${ob.jumlah}"></span></td>
                    <td><span th:each="ob : ${obat.listKadaluarsa}" th:text="${ob.tanggal}"></span></td>
                </tr>
                <tr th:if="${obat} == null">
                    <td colspan="5"><span>Obat tidak ditemukan</span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="fixed"> <img th:src="@{/img/5562.jpg}" width="500" height="250">
    </div>
</body>
</html>