<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <script th:replace="fragments/_sidebar :: sidebar"> </script>
  <link rel="stylesheet" th:href="@{style.css}">
</head>

<body>
    <div th:insert="fragments/_sidebar :: sidebar2"></div>

    <div class="container">
        <h1>MediStock</h1>
        <p>Welcome to MediStock!</p>
    </div>
    <div class="fixed"> <img th:src="@{/img/5562.jpg}" width="600" height="300">
      <a class="fixed" href="http://www.freepik.com">Designed by pch.vector / Freepik</a>
    </div>
</body>
</html>