<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<script th:replace="fragments/_sidebar :: sidebar"> </script>
<link rel="stylesheet" th:href="@{style.css}">
<style>
    .container {
        margin-left: 200px; /* Same as the width of the sidenav */
        font-size: 17px; /* Increased text to enable scrolling */
        padding: 0px 10px;
    }
    div.fixed {
        position: fixed;
        width: 500px;
        bottom: 0;
        right: 0;
} 
    .button-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
}

</style>

</head>
<body>
    <div th:insert="fragments/_sidebar :: sidebar2"></div>

    <div class="container">

        <h1>Remove Stock Obat</h1>
        <p>Masukkan rincian obat yang akan dihapus</p> 

        <div class="form-container">
            <p th:text="' Obat ' + ${input.nama} +' berhasil dihapus'"></p>
        </div>

    
    </div>

</body>
</html>