<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <script th:replace="fragments/_sidebar :: sidebar"> </script>
  <link rel="stylesheet" th:href="@{style.css}">
</head>

<body>
    <div th:insert="fragments/_sidebar :: sidebar2"></div>

    <div class="container">
        <h1 id="home">MediStock</h1>
        <br>
        <p id="welcome">Welcome to MediStock!</p>
        <p id="deskripsi">MediStock merupakan sebuah program yang bergerak dalam bidang kesehatan, 
          yang berfungsi untuk mendata stok obat-obatan yang dimiliki oleh pengguna.
          Data yang dapat dikelola oleh user adalah jumlah barang dan tanggal kadaluarsa. 
          Program dapat merekam penggunaan obat, sehingga dapat memperbarui stok obat yang ada. 
          Program ini juga dapat mencari obat yang cocok untuk penyakit tertentu.
        </p>
    </div>
    <div class="fixed"> <img th:src="@{/img/5562.jpg}" width="600" height="300">
    </div>
</body>
</html>