<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <script th:replace="fragments/_sidebar :: sidebar"> </script>
  <link rel="stylesheet" th:href="@{style.css}">
</head>

<body>
    <div th:insert="fragments/_sidebar :: sidebar2"></div>

    <div class="container">
        <h1>Impor dan Ekspor Stock</h1>
        <p>Masukkan file yang akan diimpor atau diekspor</p>

        <div class="form-container">
            <form method="POST" th:action="@{/import_exsport}" enctype="multipart/form-data" >
                <select name="kriteria">
                  <option th:value="import">import file </option>
                  <option th:value="exsport">exsport file</option>
              </select>
                <input type="file" name="inputObat" th:required="true"/>
                <input type="submit" value="upload" />
          </form>
        </div>
        

    </div>
    <div class="fixed"> <img th:src="@{/img/5562.jpg}" width="600" height="300">
    </div>
</body>
</html>