<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <script th:replace="fragments/_sidebar :: sidebar"> </script>
  <link rel="stylesheet" th:href="@{style.css}">
</head>

<body>
    <div th:insert="fragments/_sidebar :: sidebar2"></div>

    <div class="container">

        <h1>Search Obat</h1>
        <p>Masukkan kriteria obat yang akan dicari</p>

        <div class="form-container">
        <form th:action="@{/search-obat}"  method="post">
            
            <label >Kriteria: </label>
            <select name="kriteria">
                <option th:value="semua">Semua Obat </option>
                <option th:value="nama">Nama Obat</option>
                <option th:value="tipe">Tipe Obat</option>
                <option th:value="kegunaan">Kegunaan</option>
            </select> <br>
            <label >Kata kunci: </label> 
            <input type="text" name="kataKunci"/> <br>
            <input type="submit" />
        </form>
        </div>

    </div>

    <div class="fixed"> 
        <img th:src="@{/img/5562.jpg}" width="600" height="300">
    </div>

</body>
</html>